PMS5003_DEVICE = '/dev/ttyAMA0'
PMS5003_BAUDRATE = 9600
PMS5003_PIN_ENABLE = 22
PMS5003_PIN_RESET = 27
ADAFRUIT_IO_USERNAME = 'adafruit_io_username'
ADAFRUIT_IO_KEY = 'adafruit_io_key'
ADAFRUIT_GROUP_NAME = 'pms5003'
ADAFRUIT_GROUP_FEED_PM1 = 'pm1'
ADAFRUIT_GROUP_FEED_PM2.5 = 'pm25'
ADAFRUIT_GROUP_FEED_PM10 = 'pm10'
